#login_form
	= form_tag create_session_url do
		%table
			%tr
				%td= label_tag 'log_in_email', 'Email'
				%td= email_field :log_in, :email
			%tr
				%td= label_tag 'log_in_password', 'Password'
				%td= password_field :log_in, :password
		= submit_tag 'Log In'