#signup_form
	%table
		=form_for User.new, url: create_account_url, method: :post do |u|
			%tr
				%td= label_tag 'user_email', 'Email:'
				%td= u.email_field :email
			%tr
				%td= label_tag 'user_first_name', 'First Name:'
				%td= u.text_field :first_name
			%tr
				%td= label_tag 'user_last_name', 'Last Name:'
				%td= u.text_field :last_name
			%tr
				%td= label_tag 'user_password', 'Password:'
				%td= u.password_field :password
			%tr
				%td= label_tag 'user_password_confirmation', 'Password Confirmation:'
				%td= u.password_field :password_confirmation
			%tr
				%td= u.submit 'Sign Up'