#place_an_order.content
	%table
		= form_for Order.new, url: create_order_url, mulitpart: :true, html: {class: 'new_order form-horizontal'} do |o|
			%tr
				%td= o.label :podcast_title, 'Podcast Title: '
				%td= o.text_field :podcast_title, class: 'form-control'
			%tr
				%td= o.label :order_of_appearance, raw("Order of Appearance of Participants: <br><span>(Separate with commas)</span>"), id: 'participants'
				%td= o.text_area :order_of_appearance, class: 'form-control'
			%tr
				%td= o.label :podcast_subject, 'Podcast Genre: ', class: 'control-label'
				%td= o.text_field :podcast_subject, class: 'form-control'
			%tr
				%td= o.label :podcast, 'Upload Podcast: ', class: 'control-label'
				%td= o.file_field :podcast, id: 'podcast', class: 'form-control'
			%tr
				%td= o.label :delivery_length, 'Time to Delivery: ', class: 'control-label'
				%td
					-#%div{class: 'delivery-tooltip', title: 'Upload a podcast first then you can select a time to delivery.'}
					= o.collection_select(:delivery_length, Order.order_lengths, :to_i, proc{|length| "Within #{pluralize(length, 'day')}"}, {prompt: true}, {disabled: true, class: 'form-control', title: 'Upload a podcast first then you can select a time to delivery.'})
			%tr
				%td= o.label :total, 'Your Total: ', class: 'control-label'
				%td{class: 'input-group'}
					%span{class: "input-group-addon"}$
					= o.text_field :total, disabled: true, class: 'form-control'

			%tr
				%td
					-if current_user.stripe_token.nil?
						= o.submit 'Place Order', disabled: true, class: 'btn disabled', id: 'place_order_button'
						= link_to "You don't have a card on file. Add one here... then you can place an order for a transcript.", account_details_path, class: "no_card_link"
					-else
						= o.submit 'Place Order', class: "btn btn-primary", id: 'place_order_button'
	%audio#podcast_audio{display: 'hidden'}
	:javascript
		var deliveryHover = document.getElementById('order_delivery_length');
		window.onmousemove = function (e) {
			var x = e.clientX,
					y = e.clientY;
			deliveryHover.style.top = (y + 20) + 'px';
			deliveryHover.style.left = (x + 20) + 'px';
		};

		$('#podcast').change(function(e){
			var duration = 0;
			var total = 0;
			var file = e.currentTarget.files[0];
			var delivery_length = $('#order_delivery_length').on('change', function(){
				switch($('#order_delivery_length').val()) {
			  	case "3":
			  		total = 1.75 * (duration);
						$('#order_total').val("$"+$.number(total, 2));
						break;
					case "7":
						total = 1.05 * (duration);
						$('#order_total').val("$"+$.number(total, 2));
						break;
					default:
						total = 2.5 * (duration);
						$('#order_total').val("$"+$.number(total, 2));
				}
				
			})
			file = URL.createObjectURL(file);
			var podcastAudio = $("#podcast_audio");
			podcastAudio.prop('src', file);
			podcastAudio.on("canplaythrough", function(e){
				duration = e.currentTarget.duration;
				duration = parseFloat(parseInt(duration/60)+"."+parseInt(duration%60));
				$('#order_delivery_length').removeAttr('disabled');
			});
		});